<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example LOGBACK Configuration File
  http://logback.qos.ch/manual/configuration.html
  -->
<!-- 30秒扫描一次 -->  
<configuration scan="true" scanPeriod="30 seconds">
	<property name="log.pattern" value="[%-5level] %date --%thread-- [%logger-%line] %msg %n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %date --%thread-- [%logger-%line] %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>